<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinancialNoteProg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FinancialNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FinancialNoteProg.Properties.Settings>
            <setting name="Benutzername" serializeAs="String">
                <value />
            </setting>
            <setting name="firststartb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verwendungszweck" serializeAs="String">
                <value />
            </setting>
            <setting name="Buchungsnummer" serializeAs="String">
                <value>0</value>
            </setting>
        </FinancialNoteProg.Properties.Settings>
        <FinancialNote.Properties.Settings>
            <setting name="Benutzername" serializeAs="String">
                <value />
            </setting>
            <setting name="firststartb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Verwendungszweck" serializeAs="String">
                <value />
            </setting>
        </FinancialNote.Properties.Settings>
        <test.Properties.Settings>
            <setting name="Benutzername" serializeAs="String">
                <value />
            </setting>
            <setting name="firststartb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Verwendungszweck" serializeAs="String">
                <value />
            </setting>
            <setting name="Benutzernameb" serializeAs="String">
                <value>False</value>
            </setting>
        </test.Properties.Settings>
    </userSettings>
</configuration>